div.BackgroundVideo {
	margin: 40px auto 30px;
	width: 100%;
    max-width: 100vh;

    video {
	    width: 100%;
	    height: auto;
	    display: block;
    }

    video, .caption {
    	margin: 0 auto;
    	max-width: 1800px;
    }
}
