@import '../../styles/variables';

div.SectionHead {
	margin: 0 0 40px;

	hr {
		border: 0;
		height: 1px;
		width: 10%;
	    margin: 40px auto;
	    background-image: linear-gradient(to right, rgba($policeBlue, 0), rgba($policeBlue, 0.75), rgba($policeBlue, 0));
	}

	div.react-parallax {
		&:after {
			content:'';
			position:absolute;
			left:0; top:0;
			width:100%; 
			height:100%;
			display:inline-block;
			background: linear-gradient(rgba($policeBlue,0.3) 0%, transparent 25%, transparent 75%, rgba($policeBlue,0.2) 100%);
		}
	}

	.wrapper {
		height: 40vh;

		@media (min-width: 768px) {
		    height: 70vh;
	    }

		.inner {
			font-family: 'Special Elite', cursive;
			width: 90%;
			padding: 20px;
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: white;

		    @media (min-width: 768px) {
		        width: 80%;
		        top: 90%;
		    }

		    @media (min-width: 1024px) {
		        width: 60%;
		    }

		    h4 {
		    	font-size: 1.3rem;
		    	margin-bottom: 0.4rem;
		    	text-decoration: underline;
		    }
		}
	}
}