@import '../../styles/variables';

.SubscribeFooter {
    padding: .25em 0em;
    background: $policeBlue;
    font-family: 'Sanchez', serif;
    font-weight: normal;
    text-align: center;
    width: 100%;
}

.SubscribeFooter * {
    margin: 5px;
}

.SubscribeFooter h4 {
    font-family: 'Suez One', serif;
}

.SubscribeFooter {
    h4, p {
        color: white;
    }
}

.SubscribeFooter > div {
    margin: 0 auto;
    width: 80%;
}

.SubscribeFooter button {
    width: 65%;
}

@media (min-width: 1024px) {
    .SubscribeFooter button {
        width: 20%;
    }
}