@import 'node_modules/express-news-styleguide/init-base';

.SlideshowInfo {
    background: #333;
    color: white;
    opacity: .8;
    cursor: pointer;
    padding: .35em .4em;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    &.show {
        display: inline-block;
    }

    &.hide {
        display: none;
    }

    @include mediaquery($default-tablet) {
        font-size: 1rem;
        width: 30%;
    }
}
